{
   "jobs": {
      "build": {
         "name": "build (${{ matrix.platform }}/${{ matrix.runtime }})",
         "runs-on": "${{ matrix.runner }}",
         "steps": [
            {
               "uses": "docker/setup-buildx-action@v3"
            },
            {
               "uses": "aws-actions/configure-aws-credentials@v4",
               "with": {
                  "aws-region": "ap-northeast-1",
                  "role-skip-session-tagging": true,
                  "role-to-assume": "arn:aws:iam::005216166247:role/GhaDockerPush"
               }
            },
            {
               "id": "build-push",
               "uses": "docker/build-push-action@v6",
               "with": {
                  "cache-from": "type=gha",
                  "cache-to": "type=gha,mode=max",
                  "context": "{{defaultContext}}:function-url-utils",
                  "file": "Dockerfile.${{ matrix.runtime }}",
                  "load": true,
                  "platforms": "linux/${{ matrix.platform }}"
               }
            },
            {
               "env": {
                  "IMAGE": "${{ steps.build-push.outputs.imageid }}",
                  "PLATFORM": "${{ matrix.platform }}",
                  "REPO": "function-url-utils",
                  "RUNNER_TEMP": "${{ runner.temp }}",
                  "RUNTIME": "${{ matrix.runtime }}",
                  "SHA": "${{ github.sha }}"
               },
               "name": "Upload zip",
               "run": "set -x\nLAYER_ZIP=\"${RUNNER_TEMP}/layer.zip\"\ndocker run --rm \"${IMAGE}\" cat /var/task/layer.zip > \"${LAYER_ZIP}\"\nsha384sum \"${LAYER_ZIP}\"\naws s3 cp \"${LAYER_ZIP}\" \"s3://rk-tftp/ro/lambda/${REPO}/${SHA}/${PLATFORM}-${RUNTIME}.zip\"\n"
            }
         ],
         "strategy": {
            "matrix": {
               "include": [
                  {
                     "platform": "arm64",
                     "runner": "ubuntu-24.04-arm",
                     "runtime": "ruby33"
                  },
                  {
                     "platform": "amd64",
                     "runner": "ubuntu-24.04",
                     "runtime": "ruby33"
                  },
                  {
                     "platform": "arm64",
                     "runner": "ubuntu-24.04-arm",
                     "runtime": "ruby34"
                  },
                  {
                     "platform": "amd64",
                     "runner": "ubuntu-24.04",
                     "runtime": "ruby34"
                  }
               ]
            }
         }
      }
   },
   "name": "lambdalayer-function-url-utils",
   "on": {
      "push": {
         "branches": [
            "main",
            "test"
         ],
         "paths": [
            "function-url-utils/**",
            ".github/workflows/lambdalayer-function-url-utils.yml"
         ]
      }
   },
   "permissions": {
      "contents": "read",
      "id-token": "write"
   }
}
